.mainHeading {
  color: #3c5898;
  font-size: 4rem;
  text-align: center;
}
.subMainHeading {
  margin-top: 0;
  color: #3c5898;
  font-size: 2rem;
  text-align: center;
}
.mainContainer {
  display: flex;
  justify-content: center;
  background-color: #d6d9e1;
}
.container {
  background-color: #ffffff;
  width: 60rem;
  height: 10rem;
  border-radius: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.todoContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 1rem 0;
  width: 100%;
}
.todoWrapper {
  display: flex;
  flex-direction: row;
}
.todoListHeading {
  color: #3c5898;
  font-size: larger;
}
.taskContainer {
  margin-top: 1rem;
}
.task {
  background-color: #d6d9e1;
  width: 10rem;
  height: 1rem;
}
.todoListIcon {
  font-size: larger;
  color: #3c5898;
}
.taskComponents {
  padding: 1rem 1rem;
}
